body{
  position:absolute;
  box-sizing: border-box;
  max-width: 100%;
  min-width:320px;
  /*width:500px;*/
  width:100%;
  margin:0px;
  padding:0px;
  font-family: Arial, Helvetica, sans-serif;
  background-image: url("assets/img/background_low-res.png");
  /*background-repeat: no-repeat;*/
  background-size: cover;
  overflow-x: hidden;
}


.regular-font{
  font-family: Arial, Helvetica, sans-serif;
  color: lightgrey;
}
.small-font{font-size: 14px;}
.bold-font{font-weight: bold;}
.font-20{font-size: 20px;}


.margin-small{margin: 10px;}


.image-128{width: 128px;}
.image-24{width: 20px;}


.text-align-left{text-align: left;}
.text-align-right{text-align: right;}
.centered-font{text-align: center;}


.blue-gradient{background-image: linear-gradient(blue, darkblue);}
.red-gradient{background-image: linear-gradient(red, darkred);}



