body{
  position:absolute;
  box-sizing: border-box;
  max-width: 100%;
  min-width:320px;
  /*width:500px;*/
  width:100%;
  margin:0px;
  padding:0px;
  font-family: Arial, Helvetica, sans-serif;
  background-image: url("https://cdn.discordapp.com/attachments/1171681422659043349/1200263285400928316/butuhfingers_dungeons_and_dragons_background_subtle_inviting_br_0f6ea83f-d268-4cd7-99e0-9f1b0349bdb1.png?ex=65c58b4b&is=65b3164b&hm=74be1b57f0564f689f2a2db64b1d78853aa7cdceae9d40650f211338fe0673c9&");
  /*background-repeat: no-repeat;*/
  background-size: cover;
  overflow-x: hidden;
}
