body{
  position:absolute;
  box-sizing: border-box;
  max-width: 100%;
  min-width:320px;
  /*width:500px;*/
  width:100%;
  margin:0px;
  padding:0px;
  font-family: Arial, Helvetica, sans-serif;
  background-image: url("assets/img/background_low-res.png");
  /*background-repeat: no-repeat;*/
  background-size: cover;
  overflow-x: hidden;
}
