<div class="ability-box" (click)="statsViewable = true">
  <button class="ability-roll-button bold-font">
    <img class="image-24" src="/assets/img/d20.png" alt="roll ability">
  </button>
  <label class="ability-full-name"><span class="bold-font">{{getShortName()}}</span>{{getReversedShortName()}}</label><br>
  <label class="ability-score bold-font">{{getTotalAbilityScore()}}</label>
  <label class="ability-modifier">{{getModifier() > 0 ? '+' : ''}}{{getModifier()}}</label>
</div>
<app-stat-breakdown-view *ngIf="statsViewable" [stats]="abilityStats" [abilityView]="this"></app-stat-breakdown-view>
