<div class="stat-breakdown-view-container">
  <button class="stat-close-button bold-font" (click)="abilityView.statsViewable = false">X</button>
  <h2>{{getBaseStat().getName()}}</h2>
  <table>
    <tr>
      <td class="bold-font stat-header">Scores</td>
      <td class="bold-font stat-header">Types</td>
    </tr>
    <tr *ngFor="let stat of stats">
      <td>{{stat.getScore()}}</td>
      <td>{{stat.getType()}}</td>
    </tr>
  </table>
</div>
<div class="stat-breakdown-view-container-background" (click)="abilityView.statsViewable = false"></div>
