.character-attacks{
  /*width: 400px;*/
  min-width:290px;
  max-width: 95%;
  height:auto;
  justify-content: space-between;
  border: 1px solid black;
  margin:10px;
  padding:10px;
  border-radius: 10px;
}
h2{
  width: 100px;
}
.armor h2{
  width: 95%;
}
.armor{
  width:98%;
  padding:4px;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  border: 1px solid grey;
}
.armor-header{
  width:100%;
  display: flex;
  justify-content: space-between;
}
.armor-damages{
  width:fit-content;
}
.armor-stat{
  width: 48%;
  padding:5px 0px;
  margin:0 1.5%;
  /*border:1px solid grey;*/
}
@media (max-width: 768px){
  .armor-stat{
    width: 96%;
    padding:5px 0px;
    margin:0 1.5%;
    text-align: left;
  }
}
.armor-stat td{
  padding: 5px;
}

.armor-roll-button{
  width:96%;
  margin:5px;
  box-shadow: 5px 5px 5px black;
  border-radius: 10px;
  color:grey;
}
.armor-roll-button img{
  margin-bottom:-5px;
}
