.character-attacks{
  /*width: 400px;*/
  min-width:290px;
  max-width: 95%;
  height:auto;
  justify-content: space-between;
  border: 1px solid black;
  margin:10px;
  padding:10px;
  border-radius: 10px;
}
h2{
  width: 100px;
}
.attack h2{
  width: 95%;
}
.attack{
  width:98%;
  padding:4px;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  border: 1px solid grey;
}
.attack-header{
  width:100%;
  display: flex;
  justify-content: space-between;
}
.attack-damages{
  width:fit-content;
}
.attack-stat{
  width: 48%;
  padding:5px 0px;
  margin:0 1.5%;
  border:1px solid grey;
}
@media (max-width: 768px){
  .attack-stat{
    width: 96%;
    padding:5px 0px;
    margin:0 1.5%;
    text-align: left;
  }
}
