<h2>Attacks</h2>
<div class="character-attacks">
  <div class="attack" *ngFor="let weapon of weapons">
    <div class="attack-header">
      <img class="image-128" src="/assets/img/missing-icon.png">
      <h2 class="attack-name">{{weapon.gearInfo.name}}</h2>
    </div>

    <table class="attack-stat attack-attack-bonus">
      <tr>
        <td class="text-align-left">Attack Bonus:</td>
        <td class="text-align-right">{{weapon.attackBonus}}</td>
<!--        <td><img class="image-20" src="/assets/img/d20.png"></td>-->
      </tr>

      <tr>
        <td class="text-align-left">Damage:</td>
        <td class="text-align-right">
          <div class="damage" *ngFor="let damage of weapon.damages" [innerHTML]=damage.toString()></div>
        </td>
<!--        <td><img class="image-20" src="/assets/img/d20.png"></td>-->
      </tr>

      <tr>
        <td class="text-align-left">Critical:</td>
        <td class="text-align-right">{{weapon.criticalLowerRange}}-20x{{weapon.criticalMultiplier}}</td>
      </tr>

      <tr>
        <td class="text-align-left">Range:</td>
        <td class="text-align-right">{{weapon.range}}</td>
      </tr>

      <tr>
        <td class="text-align-left">Type:</td>
        <td class="text-align-right">{{weapon.type}}</td>
      </tr>

      <tr>
        <td >
          <button class="centered-font attack-roll-button font-20 bold-font blue-gradient">
            Attack
            <img class="image-24" src="/assets/img/d20.png">
          </button>
        </td>
        <td>
          <button class="centered-font attack-roll-button  font-20 bold-font red-gradient">
            Damage
            <img class="image-24" src="/assets/img/d20.png">
          </button>
        </td>
      </tr>
    </table>
  </div>
</div>
